<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="C:\Users\david\Projects\recipe-website\assests\styles.css" rel="stylesheet" />
        <script src="C:\Users\david\Projects\recipe-website\assests\script.js"></script>
        <title>Peanut Butter Chocolate Chip Cookies</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Peanut Butter Chocolate Chip Cookies</h1>
                <img src="C:\Users\david\Projects\recipe-website\assests\img\peanutbutterchocolatechipcookies.jpg"
                alt="Peanut Butter Chocolate Chip Cookies"
                class="recipeimg">
            <h2>Ingredients
                <ul>
                    <li>2 cups of Peanut Butter</li>
                </ul>
            </h2>
            <h3>Directions
                <ol>
                    <li>Preheat oven to 350.</li>
                    <li>Gather ingredients</li>
                </ol>
            </h3>
        </main>
        <footer>
            <p>Copyright &copy;</p>
        </footer>
    </body>
</html>